
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content sidebar'
    'footer footer footer'
  ;
  grid-template-rows: 70px 1fr 60px;
  gap: 10px;
  transition: 500ms ease-in-out;
}
/* 
body.menu-close {
  grid-template-columns: 80px 4fr 300px;
} */

a {
  text-decoration: none;
  color: #f1f1f1;
}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* CARD */
.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 10px;
  color: #000000;
}


/* HEADERk */
header {
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: steelblue;
  width: 100%;
  height: 60px;
  font-size: 20px;
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.7);
}

header .container {
  padding: 10px 40px;
  justify-content: space-between;
}

header a img {
  height: 45px;
}

/* NAV */
nav {
  grid-area: nav;
  position: fixed;
  top: 80px;
  left: 15px;
  width: 230px;
  padding: 15px 11px;
  transition: 500ms ease-in-out;
}

nav .container {
  overflow: hidden;
}

nav.close {
  width: 60px;
}

nav ul li {
  height: 40px;
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  background-color: steelblue;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

nav i {
  padding-right: 23px;
}

nav .toggle {
  position: absolute;
  top: 20%;
  right: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #686868;
  color: #f1f1f1;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 500ms ease-in-out;
}

nav .toggle::before {
  position: absolute;
  top: 15%;
  left: 25%;
}

nav .toggle.close {
  transform: rotate(0deg);
}

/* MAIN */
#content {
  grid-area: content;
  margin-left: 255px;
  transition: margin 500ms ease-in-out;
}

#content.menu-close {
  margin-left: 80px;
}

#content .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px;
}

#content #latest {
  padding: 15px;
}

/* SIDE */
aside {
  grid-area: sidebar;
  margin: 0 10px;
}

aside .container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

aside .container img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

aside #identity {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
}

aside #identity img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
aside #identity .info h4 {
  padding: 4px;
}

/* FOOTER */
footer {
  height: 60px;
  margin-top: 20px;
  grid-area: footer;
  background-color:rgb(53, 53, 53);
  color: #f1f1f1;  
}

footer .container {
  justify-content: center;
}


