@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #298dc7;
  --secondary-color: #fdfdfd;
  --secondary-hover-color: #e9e9e9;
  --background-color: #e6e1e1;
  --text-color: #f0f0f0;
  --text-dark-color: #464646;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3a3a3a;
}

.main-container {
  position: relative;
  max-width: 1440px;
  margin-top: 50px;
  padding: 10px 0;
  display: flex;
  background-color: var(--background-color);
}

.layout {
  display: flex;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

li {
  list-style: none;
}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.d-none {
  display: none;
}

/* CARD */
.card {
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 10px;
  color: #000000;
}

/* HEADERk */
header {
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  font-size: 20px;
  box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.7);
  z-index: 5;
}

header .container {
  padding: 10px 40px;
  justify-content: flex-start;
}

header a img {
  height: 45px;
}

header .search-bar {
  position: relative;
  width: 250px;
  height: 34px;
  margin-left: 110px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

header .search-bar input {
  width: 100%;
  height: inherit;
  border-radius: inherit;
  border: none;
  padding: 10px 20px;
  background-color: var(--secondary-color);
}

header .search-bar input:active {
  border: solid 2px var(--background-color);
}

header .search-bar i {
  position: absolute;
  right: 15px;
  color: #7c7c7c;
  cursor: pointer;
}

header .container > input {
  display: none;
}

/* NAV */
nav {
  position: sticky;
  top: 65px;
  width: 700px;
  height: fit-content;
  margin: 0 10px;
  transition: 500ms ease-in-out;
}

nav.close {
  width: 54px;
  transition: 500ms ease-in-out;
}

nav #menu {
  padding: 10px;
  overflow: hidden;
}

nav li {
  height: 40px;
}

nav #menu > li > a {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: var(--text-color);
}

nav #menu i {
  margin-right: 10px;
}

nav #kategori {
  height: 40px;
  overflow: hidden;
  transition: height 500ms ease-in;
}

nav #kategori.open {
  height: 224px;
  transition: height 500ms ease-in;
}

nav .dropdown {
  margin: 10px 20px;
}

nav .dropdown li {
  max-height: 30px;
  display: flex;
}

nav .dropdown a {
  position: relative;
  color: var(--text-dark-color);
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  padding: 4px 10px;
  border-radius: 10px;
}

nav .dropdown a:hover {
  background-color: var(--secondary-hover-color);
}

nav #btn-dropdown {
  position: absolute;
  right: 10px;
  transition: transform 300ms ease-in-out;
}

nav #btn-dropdown.open {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

nav #toggle {
  position: absolute;
  top: 32px;
  right: -12px;
  background-color: #424242;
  color: #f1f1f1;
  font-size: 0.8rem;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 300ms ease-out;
}

nav #toggle.close {
  transform: rotate(0deg);
  transition: transform 300ms ease-in;
}

/* CONTENT */
#content {
  width: 100%;
  padding: 10px;
}

#content .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
}

#content h3,
#content h5 {
  color: var(--text-dark-color);
}

#content a.card:hover {
  transform: translate(-3px, -3px);
  box-shadow: 4px 4px 12px 0 rgba(22, 113, 187, 0.6);
  transition: transform 300ms ease-out;
}

/* ASIDE */
aside {
  width: 300px;
  margin: 0 10px;
}

aside #identity {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

aside #identity img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

aside #identity:hover {
  background-color: var(--secondary-hover-color);
}

aside .container img {
  max-height: 150px;
  object-fit: cover;
}

aside .container h5 {
  -webkit-line-clamp: 1;
}

aside .container h5 > span {
  background-color: var(--primary-color);
  padding: 4px;
  margin-right: 5px;
  border-radius: 25%;
  color: var(--text-color);
}

aside .container .card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: var(--text-dark-color);
}

aside .container .card:hover {
  background-color: var(--secondary-hover-color);
}

/* FOOTER */
footer {
  height: 60px;
  width: 100%;
  background-color: #424242;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVITY */
@media (max-width: 992px) {
  nav {
    width: 54px;
  }

  nav.close {
    width: 350px;
  }

  nav #toggle {
    transform: rotate(0deg);
  }

  nav #toggle.close {
    transform: rotate(180deg);
  }
}

@media (max-width: 768px) {
  header .container {
    padding: 0 20px;
  }
  
  header .container > input {
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 13px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
  }

  header #toggle-menu {
    position: relative;
    margin-right: 15px;
  }

  header #toggle-menu > div {
    display: blcok;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: var(--text-color);
    border-radius: 4px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  header #toggle-menu > div:nth-child(2) {
    width: 20px;
    transform-origin: 0% 0%;
  } 
  
  header #toggle-menu > div:nth-child(3) {
    width: 15px;
    transform-origin: 0% 100%;
  }

  header input:checked ~ #toggle-menu {
    top: 4px;
  }
  
  header input:checked ~ #toggle-menu > div {
    opacity: 1;
    transform: rotate(45deg) translate(-2px);
    background-color: var(--text-dark-color);
  }

  header input:checked ~ #toggle-menu > div:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) translateX(-50%);
  }

  header input:checked ~ #toggle-menu > div:nth-child(3) {
    opacity: 1;
    width: 25px;
    transform: rotate(-45deg) translate(0, -1px);
  }

  nav {
    position: fixed;
    top: 50px;
    left: -180px;
    width: 180px;
    height: 100vh;
    margin: 0;
    z-index: 1;
    transition: 500ms ease-in-out;
  }

  nav.open {
    transform: translateX(100%);
    transition: 500ms ease-in-out;
  }

  nav.card {
    background-color: #3a3a3a;
    border-radius: 0;
  }

  nav #toggle {
    display: none;
  }

  nav #menu > li > a {
    background-color: transparent;
    /* border-bottom: 1px solid #f1f1f1; */
    /* border-radius: 0; */
    padding-bottom: 10px;
  }

  nav .dropdown > li > a {
    color: #f1f1f1;
  }

  .layout {
    transition: transform 500ms ease-in-out;
    margin-left: 10px;
  }

  .layout.open-menu {
    transform: translateX(180px);
    transition: transform 500ms ease-in-out;
  }

  #content .container {
    grid-template-columns: repeat(3, 1fr);
  }

  h5 {
    font-size: 12px;
  }

  .main-container {
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  .layout {
    flex-direction: column;
    margin: 0;
  }

  .main-container {
    margin: 50px 0;
  }

  #content.card {
    padding: 25px 10px;
    border-radius: 0;
  }

  #content .container {
    grid-template-columns: repeat(2, 1fr);
  }

  nav #menu li a {
    font-size: 15px;
  }

  aside {
    margin: 0;
    width: 100%;
  }

  aside .card {
    border-radius: 0;
  }

  aside .container img {
    max-width: 400px;
    max-height: 250px;
    transform: translateX(25%);
  }

  h5 {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header,
  footer {
    max-width: 1440px;
    border-radius: 10px;
  }

  #content .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
